:root {
	--color-light: #A5CFFE;
	--color-dark: #0D081E;

	--color-button: #30206DE7;
	--color-button-hover: #412996FA;
	--color-button-hover-dark: #221353E7;

	--color-text: #F5FFFF;
	--color-text-global: #FF02E6;
	--color-text-party: #9F8EB1;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-dark);
	color: var(--color-text);
	font-family: "B612", sans-serif;
	margin: 0;
}

a {
	color: var(--color-light);
}
a:active {
	color: var(--color-text);
}

