#site-contents {
	--border-width: 2px;

	height: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	justify-content: center;

	> main,
	> footer {
		flex-grow: 0;
		flex-shrink: 0;
	}

	> main {
		width: 640px;
		padding: 8px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

#panes {
	display: flex;
	width: 100%;

	border: var(--border-width) var(--color-light) solid;
	border-radius: 8px;
}

#game-pane {
	flex-shrink: 0;
	flex-grow: 0;
	padding: 32px 16px;

	border-right: var(--border-width) var(--color-light) solid;
	border-radius: 8px;

	display: flex;
	gap: 16px;

	> .game-buttons {
		display: flex;
		flex-direction: column;
		gap: 8px;

		> button {
			width: 32px;
			height: 32px;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}

	> .game-window {
		width: 640px;
		display: flex;
		flex-direction: column;
		gap: 4px;
		> .subtitle {
			text-align: right;
			width: 100%;
		}
	}
}

#chat-pane {
	flex-shrink: 1;
	flex-grow: 1;
	padding: 16px;
}

#game-view {
	align-items: center;
	aspect-ratio: 4 / 3;
	background-color: blue;
	display: flex;
	justify-content: center;
	text-align: center;

	/*
	 * Ensures the game is always pixel-perfect.
	 * EasyRPG runs at 320x240 by default; we scale up to 640x480 (2x)
	 * if we have the screen estate, and scale it down to 320x240 (1x)
	 * otherwise (see Mobile layout at the end of the CSS).
	 */
	width: 640px;

	> #canvas {
		height: 480px;
		outline: none;
		user-select: none;
		width: 640px;
	}
}

/* Desktop view */
@media (min-width: 1060px) and (min-height: 600px) {
	#site-contents > main {
		width: 1040px;
	}
}

/*
 * In-between view. In this case, the screen is too narrow/short to fit the
 * game at 2x resolution and the chat next to each other, but it is wide enough
 * for a mobile layout (game above chat), with the game still at 2x res.
 *
 * All of these properties also carry over to the mobile view.
 */
@media (max-width: 1060px) or (max-height: 600px) {
	#site-contents > main {
		width: 784px;
	}

	#panes {
		flex-direction: column;
	}
	#game-pane {
		flex-direction: column;
		align-items: center;

		border-right: none;
		border-bottom: var(--border-width) var(--color-light) solid;

		position: relative;
		> .game-buttons {
			position: absolute;
			left: 16px;
		}
	}

	#chat-pane {
		height: 480px;
	}
}

/*
 * Mobile view. In this case, the screen is not wide enough to have the
 * game at 2x resolution, so we scale down to 1x and move the buttons above
 * the game window (so they don't go over it on very narrow screens (360px).
 *
 * Other than that, the same layout as above is used.
 */
@media (max-width: 780px) {
	#site-contents > main {
		width: 100%;
	}

	#game-pane {
		padding: 16px;
		> .game-buttons {
			position: unset;
			width: 100%;
			flex-direction: row;
			padding: 0;
		}
	}

	#game-view, #game-pane > .game-window {
		width: 320px;
	}
}

